*
{
    box-sizing : border-box;

    height : 100%;
    width : 100%;

    margin : 0%;
    padding : 0%;
}

html, body 
{
    background-color : #033249;
    overflow : hidden;
}

body 
{
    background-image : linear-gradient( #033249, #e7240e );
    overflow : auto;
}

.header 
{
    background-color : #033249;
    height : 25%;
}

.middle 
{
    height : 75%;
    background-image : linear-gradient( #033249, #FF8038, #e7240e );
}



















.header div 
{
    margin : auto;
    padding : auto;
}

.whatsapp   { background-image : url( '../img/logos/whatsapp.png'   );  }
.linkedin   { background-image : url( '../img/logos/linkedin.jpg'   );  }
.youtube    { background-image : url( '../img/logos/youtube.png'    );  }
.instagram  { background-image : url( '../img/logos/instagram.jpg'  );  }
.psmotors   { background-image : url( '../img/logos/Original.png'   );  }

.whatsapp, .linkedin, .youtube, .instagram, .psmotors
{
    height : 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.psmotors 
{
    height : 100%;
    margin : 0%;
}

.instagram{ height : 25%;   }













.carousel
{
    height : 100%;
    width : 100%;

    justify-self : center;
    align-self : center;   
}


.about
{   
    font-family : 'Sofia';
    font-size : 100px;
    color : lightgoldenrodyellow;
    
    border : none;
    text-align : center;
    justify-content : center;
    word-wrap: normal;
}

.headshot
{
    height : 25%;
    width : auto;
}

.carousel-item > a > img 
{
    height : 50%;
    width : 75%;
    
    margin : auto;
    margin-top : 5%;

    border : solid black 2px;
}
